<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT16313</title>
    <!-- Style -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body ng-app="demo_form">
    <div class="container">
        <header class="row bg-danger" style="height: 100px;"></header>
        <nav class="row navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Trang chủ</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <i class="bi bi-house"></i>
                    <a class="nav-link active" aria-current="page" href="#">Giới thiệu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <div class="row mt-5">
            <aside class="col-12 col-md-3 p-3">
                <div class="list-group">
                    <a href="https://www.nokia.com/" class="list-group-item">Nokia</a>
                    <a href="https://www.samsung.com/global/galaxy/" class="list-group-item">Samsung</a>
                    <a href="" class="list-group-item">Apple</a>
                </div>
            </aside>
            <article class="col-12 col-md-9 p-3">
                <div class="container p-0">
                    <div class="row" ng-controller="form_controller">
                        <form action="" method="" name="form_user">
                            <div class="mt-3 row">
                                <label class="col-2" for="fullname">
                                    Họ tên<span class="text-danger">*</span>
                                </label>
                                <div class="col-10">
                                    <input
                                        type="text"
                                        class="form-control col-10"
                                        name="fullname"
                                        ng-model="sv.fullname"
                                        ng-model-options="{ updateOn: 'default', debounce: 500 }"
                                        id="fullname"
                                        autocomplete="off"
                                        required>
                                    <small ng-hide="form_user.fullname.$untouched || $form_user.fullname.$valid" class="text-danger">
                                        Vui lòng nhập họ tên
                                    </small>
                                </div>
                            </div>
                            <div class="mt-3 row">
                                <label class="col-2" for="email">
                                    Email<span class="text-danger">*</span>
                                </label>
                                <div class="col-10">
                                    <input
                                        type="email"
                                        class="form-control col-10"
                                        name="email"
                                        ng-model="sv.email"
                                        id="email"
                                        autocomplete="off"
                                        required>
                                    <span ng-hide="form_user.email.$untouched">
                                        <small class="text-danger" ng-show="form_user.email.$error.required">Vui lòng nhập email</small>
                                        <small class="text-danger" ng-show="form_user.email.$error.email">Vui lòng nhập đúng định dạng email</small>
                                    </span>
                                </div>
                            </div>
                            <div class="mt-3 row">
                                <label class="col-2" for="password">
                                    Mật khẩu<span class="text-danger">*</span>
                                </label>
                                <div class="col-10">
                                    <input
                                        type="password"
                                        class="form-control col-10"
                                        ng-model="sv.password"
                                        validate-password
                                        name="password"
                                        id="password"
                                        required >
                                    <span class="text-danger" ng-hide="form_user.password.$untouched || form_user.password.$valid">
                                        <small ng-show="form_user.password.$error.required">Vui lòng nhập password</small>
                                        <small ng-show="form_user.password.$error.charE">Vui lòng nhập password tối thiểu 6 kí tự</small>
                                    </span>

                                    <!-- {{ form_user.password.$error | json }} -->
                                </div>
                            </div>
                            <div class="mt-3 row">
                                <label class="col-2" for="avatar">Ảnh đại diện</label>
                                <div class="col-10">
                                    <input type="file" class="form-control col-10" name="avatar" id="avatar">
                                </div>
                            </div>
                            <div class="mt-3 row">
                                <label class="col-2" for="gioi_tinh_nam">
                                    Giới tính<span class="text-danger">*</span>
                                </label>
                                <div class="col-10 row">
                                    <div class="col-2">
                                        <input type="radio" class="form-check-input"
                                            ng-model="sv.gioi_tinh" value="1"
                                            ng-checked="sv.gioi_tinh == 1"
                                            name="gioi_tinh" id="gioi_tinh_nam" />
                                        <label for="gioi_tinh_nam">Nam</label>
                                    </div>
                                    <div class="col-2">
                                        <input type="radio" class="form-check-input"
                                            ng-model="sv.gioi_tinh" value="0"
                                            ng-checked="sv.gioi_tinh == 0"
                                            name="gioi_tinh" id="gioi_tinh_nu" />
                                        <label for="gioi_tinh_nu">Nữ</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 row">
                                <label class="col-2" for="chuyen_nganh">
                                    Chuyên ngành<span class="text-danger">*</span>
                                </label>
                                <div class="col-10">
                                    <select
                                        ng-model="sv.chuyen_nganh"
                                        class="form-select"
                                        name="chuyen_nganh"
                                        id="chuyen_nganh">
                                        <option value="{{ nganh.ma }}" ng-repeat="nganh in ds_chuyen_nganh">
                                            {{ nganh.ten }}
                                        </option>
                                    </select>
                                    <!-- <select
                                        ng-model="sv.chuyen_nganh"
                                        class="form-select"
                                        name="chuyen_nganh"
                                        id="chuyen_nganh"
                                        ng-options="nganh.ten for nganh in ds_chuyen_nganh track by nganh.ma">
                                    </select> -->
                                </div>
                            </div>
                            <div class="mt-3 row">
                                <button class="btn btn-primary col-2">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
        </div>
        <footer class="row bg-secondary mt-3 text-center text-white pt-2 pb-2">
            <span>TienNH21</span>
        </footer>
    </div>

    <!-- Script -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angularjs.min.js"></script>
    <script>
        const app = angular.module("demo_form", []);

        function formController($scope) {
            $scope.sv = {
                fullname: "",
                email: "",
                password: "",
                avatar: null,
                gioi_tinh: 1,
                chuyen_nganh: "",
            };

            $scope.ds_chuyen_nganh = [
                { ma: "udpm", ten: "Ứng dụng phần mềm" },
                { ma: "tktw", ten: "Thiết kế trang web" },
                { ma: "ltmt", ten: "Lập trình máy tính" },
            ];
        }

        app.controller("form_controller", formController);

        app.directive("validatePassword", function () {
            return {
                require: 'ngModel',
                link: function (scope, element, attr, mCtrl) {
                    const fnValidate = function (value) {
                        if (value.length < 6) {
                            mCtrl.$setValidity('charE', false);
                        } else {
                            mCtrl.$setValidity('charE', true);
                        }

                        return value;
                    }

                    mCtrl.$parsers.push(fnValidate);
                }
            };
        });
    </script>
</body>
</html>
